/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* variaveis css */
:root {
    --cor-primaria: rgb(13, 106, 134);
}

/* formatações em geral e CSS reset */

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

/* formatação texto inside container*/

h1 {
    text-align: center;
}

.imc-1 {
    display: inline-block;
    clear: both;
}

.imc-2 {
    display: inline-block;
    clear: both;
    float: right;
}

.texto-imc, .texto-peso {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

/* formatação  container*/

.container {
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

/* formatação forms,inputs e button*/

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px; 
    padding: 0 20px;
}

form input:focus {
    outline: 2px solid var(--cor-primaria);
}

form button {
    border: none;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

form button:hover{
    background: black;
}

form button:active{
    background: black;
}


/* formatação resultado IMC */
 
.isValid-true, .isValid-false {
    text-align: center;
    background: rgb(109, 255, 182);
    padding: 20px, 40px;
    border-radius: 5px;
}

.isValid-false {
    background: rgb(255, 150, 150);
}


